.home-hero {
  position: relative;
  padding: 255px 0 170px;
  background-image: radial-gradient(circle farthest-corner at center bottom, rgba(19, 26, 30, .9) 0%, rgba(19, 26, 30, .9) 100%), url('http://images.akamai.steamusercontent.com/ugc/89343685256734062/A7E035AAA1FE22B742444C4564A47D4EB4268BE9/');
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  header {
    position: relative;
  }

  &::before {
    @include size(100%);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: -webkit-repeating-linear-gradient(top, transparent 0, transparent 1px, rgba(0, 0, 0, .2) 1px, rgba(0, 0, 0, .2) 3px);
    background: repeating-linear-gradient(top, transparent 0, transparent 1px, rgba(0, 0, 0, .2) 1px, rgba(0, 0, 0, .2) 3px);
    background-size: 100% 4px;
    pointer-events: none;
  }
}
