.team {
  h2 {
    margin-bottom: 1.25rem;
  }

  &__list-item {
    &:first-of-type {
      margin-top: var(--header-spacing);
    }

    &:not(:last-of-type) {
      margin-bottom: 3.75rem;
    }
  }

  &__member {
    padding: 1.25rem;
    background-color: var(--black);
  }

  &__detail-list {
    margin-top: 1.5rem;
  }
}
