<section class="home-about section-padding border-top overflow-hidden">
  <div class="grid grid--two-column grid--collapse-tablet home-about__grid">
    <div class="home-about__image-left relative">
      <img class="home-about-top-content" src="/images/firefight.jpg" alt="Contractors in a firefight." loading="lazy">
      <div class="border-wrap">
        <div class="border border--top-left"></div>
        <div class="border border--top-right"></div>
        <div class="border border--bottom-left"></div>
        <div class="border border--bottom-right"></div>
      </div>
    </div>
    <div class="home-about__content-right home-about-top-content gsap-fade-in">
      <h2>Our Mission</h2>
      <p>Established in 2018, Blackwater’s 1st Red Squadron offers weekly Arma 3 operations in a variety of unique settings. We spend roughly a month on a single map with a different mission each week, ending with a finale. As a security contractor focused unit, we typically deal with security operations, aiding friendly military forces.</p>
    </div>
    <div class="home-about__content-left home-about-bottom-content gsap-fade-in">
      <h2>Laid Back</h2>
      <p>The goal of the unit is to offer military simulation that is enjoyable. Although we do follow a rank structure for missions, everyone speaks freely and plays on the same level. No one is treated differently. New members are brought up to speed quickly and involved in missions right away. All that we ask is that everyone remains humble and honest.</p>
    </div>
    <div class="home-about__image-right relative">
      <img class="home-about-bottom-content" src="/images/convoy.jpg" alt="Contractors guarding a military convoy." loading="lazy">
      <div class="border-wrap">
        <div class="border border--top-left"></div>
        <div class="border border--top-right"></div>
        <div class="border border--bottom-left"></div>
        <div class="border border--bottom-right"></div>
      </div>
    </div>
  </div>
</section>
