<section class="home-about section-padding border-top overflow-hidden">
  <div class="grid grid--two-column grid--collapse-tablet home-about__grid">
    <div class="home-about__image-left">
      <img class="home-about-top-content" data-src="/images/bw-security.jpg" alt="">
    </div>
    <div class="home-about__content-right home-about-top-content">
      <header>
        <h2>Rooted History</h2>
      </header>
      <p>Blackwater’s 1st Red Squadron was created to meet the operational needs of the U.S. <abbr title="Department of Defense">DOD</abbr> in military and non-military operations. 1st Red Squadron was the original <abbr title="Operational Detatchment Alpha">ODA</abbr> unit within Blackwater’s first international security group. The first detachment commander of 1st Red Squadron, DC9C Ace1Gun, identified the need for a multi-role quick response force with a full time aviation element and explosives unit. Established in 2018, 1st Red Squadron became operational after receiving federal funding for operations in Northern Vietnam.</p>
    </div>
    <div class="home-about__content-left home-about-bottom-content">
      <header>
        <h2>Battle Tested</h2>
      </header>
      <p>The primary focus of the ODA unit was counter terrorism and drug interdiction. After quickly setting the standard for international paramilitary operations with a high success rate 1st Red Squadron was given funding for operations in the Pakistan Tribal Mountains where several members of the group were identified for the Central Intelligence Agencies highest civilian award, The Distinguished Intelligence Cross. 1st Red Squadron now operates internationally with U.S. and Coalition forces under DC9C ICEMAN with federal funding from the U.S. Department of Defense and U.S. Department of State.</p>
    </div>
    <div class="home-about__image-right">
      <img class="home-about-bottom-content" data-src="/images/bw-ruckus.jpg" alt="">
    </div>
  </div>
</section>
