<section class="home-about section-padding border-top">
  <div class="container">
    <div class="home-about__content">
      <small>02</small>
      <header>
        <h2>About</h2>
      </header>
      <p>Lorem Khaled Ipsum is a major key to success. Life is what you make it, so let’s make it. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. Lion! Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. Let me be clear, you have to make it through the jungle to make it to paradise, that’s the key, Lion! Don’t ever play yourself. You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Mogul talk.</p>
      <p>Lorem Khaled Ipsum is a major key to success. Life is what you make it, so let’s make it. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. Lion! Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. Let me be clear, you have to make it through the jungle to make it to paradise, that’s the key, Lion! Don’t ever play yourself. You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Mogul talk.</p>
    </div>
  </div>
</section>
