<section class="home-hero relative">

  <div class="absolute image one-hundred">
    <img class="one-hundred" src="/images/altis.jpg" alt="">
  </div>

  <div class="absolute grid-lines one-hundred"></div>

  <div class="container relative" id="hero-content">

    <small>01</small>
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    <p>The premier Arma unit for your security services needs
    including: security officers, bodyguard services, executive
    protection services and more.</p>

    <a class="button home-hero__button border" href="#">Apply to Join</a>

  </div>
</section>
