<section class="home-hero hero-spacing relative">
  <div class="container relative higher-z-index gsap-fade-in" id="hero-content">
    <h1>{{ .Title }}</h1>
    <p>The premier Arma unit for your security services needs
    including: security officers, bodyguard services, executive
    protection services and more.</p>

    <a class="button home-hero__button border" href="#join">Apply to Join</a>
  </div>

  <div class="absolute image one-hundred">
    <img class="one-hundred" src="/images/ukraine-mission.jpg" alt="Contractors holding a Ukrainian flag.">
  </div>

  <div class="absolute grid-lines one-hundred"></div>
</section>
