<section class="home-join section-padding border-top overflow-hidden" id="join">
  <div class="container relative grid grid--two-column grid--collapse-tablet two-col-gap">
    <div>
      <small>05</small>
      <header>
        <h2>Join Up</h2>
      </header>
      <p>This unit is not a typical military mil-sim. Their is no basic training or required monthly training, but applicants are required to have at least 500 hours minimum in order to join. Upon joining the discord wait for a recruiter to contact you. A Q&A session will be conducted by a recruiter in the #Recruiting voice channel with all new applicants.</p>
      <h3 class="h4" id="positions">Open Positions</h3>
      <p>Unit positions are loosely disgnated but we prefer you to choose a specialty. If you desire to have a position that is not listed, please mention it to your recruiter.</p>
      <ul class="grid unstyled-list custom-list" aria-labelledby="positions">
        <li>Aviation</li>
        <li>Medical</li>
        <li>Reconnassiance</li>
        <li>Security</li>
      </ul>
    </div>
    <form class="grid grid--two-column form" name="contact" action="/success/" netlify>

      <label class="form__email border" for="email">
        <span class="visually-hide">
          Email
        </span>
        <input type="email" id="email" name="email" placeholder="Email" />
      </label>

      <label class="border" for="name">
        <span class="visually-hide">
          Name
        </span>
        <input type="text" id="name" name="name" placeholder="Name" required />
      </label>

      <label class="border" for="age">
        <span class="visually-hide">
          Age
        </span>
        <input type="text" id="age" name="age" placeholder="Age" required />
      </label>

      <label class="form__hours border" for="hours">
        <span class="visually-hide">
          Arma 3 Hours
        </span>
        <input type="text" id="hours" name="hours" placeholder="Total Number of Arma 3 Hours" required />
      </label>

      <div class="form__select border">
        <label for="tag-select" class="visually-hide">Choose a Position</label>
        <i></i>
        <select id="tag-select" name="tag-select" required>
          <option value="">Select Desired Position</option>

          <option value="Aviation">Aviation</option>
          <option value="Intel Specialist">Intel Specialist</option>
          <option value="Logestics">Logestics</option>
          <option value="Medic">Medic</option>
          <option value="MG Specialist">MG Specialist</option>
          <option value="Quick Reaction Force">Quick Reaction Force</option>
          <option value="Rifleman">Rifleman</option>
          <option value="Sharpshooter">Sharpshooter</option>

        </select>
      </div>

      <label class="form__message border" for="article">
        <span class="visually-hide">
          Tell us about yourself
        </span>
        <textarea name="message" id="article" cols="30" rows="10" placeholder="Tell us about yourself." required></textarea>
      </label>
      <button class="form__submit button border" type="submit">Submit Application</button>
    </form>
  </div>

</section>
