<div class="home-media">
  <div class="grid home-media__grid">
    <div>
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/300x300?war" alt="">
    </div>
    <div>
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/300x300?military" alt="">
    </div>
    <div>
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/300x300?gun" alt="">
    </div>
    <div>
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/300x300?military" alt="">
    </div>
    <div class="home-media__big-square-image-1">
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/600x600?army" alt="">
    </div>
    <div class="home-media__big-image-1 relative">
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/1200x800?navy" alt="">
      <div class="absolute one-hundred home-media__overlay"></div>
      <div class="home-media__play-button absolute one-hundred">
        <div class="absolute home-media__play-button-content">
          <h3>Gameplay Preview</h3>
          <p>Watch the Blackwater team in action</p>
          <svg class="play-button" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 34 34"><path fill="#ffffff" d="M17 1A16 16 0 111 17 16 16 0 0117 1m0-1a17 17 0 1017 17A17 17 0 0017 0z"/><path fill="#ffffff" d="M20.5 17l-7-6.05v12.1l7-6.05"/></svg>
        </div>
      </div>
    </div>
    <div class="home-media__big-image-2">
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/1200x800?marine" alt="">
    </div>
    <div class="home-media__big-square-image-2">
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/600x600?iraq" alt="">
    </div>
    <div class="home-media__span-2">
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/300x600?troops" alt="">
    </div>
    <div class="home-media__span-2">
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/300x600?military" alt="">
    </div>
  </div>
</div>
