<div class="home-media">
  <div class="grid home-media__grid">
    <div>
      <img class="animate-image one-hundred cover" data-src="/images/bw-pilot.jpg" alt="">
    </div>
    <div>
      <img class="animate-image one-hundred cover" data-src="/images/bw-pilot.jpg" alt="">
    </div>
    <div>
      <img class="animate-image one-hundred cover" data-src="/images/blackwater-contractors.jpg" alt="">
    </div>
    <div class="home-media__drop-mobile">
      <img class="animate-image one-hundred cover" data-src="/images/bw-heavy-gunner.jpg" alt="">
    </div>
    <div class="home-media__big-square-image-1">
      <img class="animate-image one-hundred cover" data-src="/images/bw-old-school.jpg" alt="">
    </div>
    <div class="home-media__big-image-1">
      <img class="animate-image one-hundred cover" data-src="/images/bw-ir-strobes.jpg" alt="">
    </div>
  </div>
</div>
