<div class="home-media">
  <div class="grid home-media__grid">
    <div>
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/300x300?war" alt="">
    </div>
    <div>
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/300x300?military" alt="">
    </div>
    <div>
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/300x300?gun" alt="">
    </div>
    <div>
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/300x300?military" alt="">
    </div>
    <div class="home-media__big-square-image-1">
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/600x600?army" alt="">
    </div>
    <div class="home-media__big-image-1">
      <img class="one-hundred cover lazy" data-src="https://source.unsplash.com/1200x800?navy" alt="">
    </div>
  </div>
</div>
