<section class="home-operations relative section-padding border-top">

  <div class="absolute image one-hundred">
    <img class="one-hundred" data-src="https://source.unsplash.com/1280x720?military" alt="">
  </div>

  <div class="absolute grid-lines one-hundred"></div>

  <div class="container relative">
    <div class="home-operations__content">

      <small>04</small>
      <header>
        <h2 id="operations">Upcoming Operations</h2>
      </header>

    </div>

    <ul class="unstyled-list grid grid--two-column grid--collapse-tablet two-col-gap home-operations__grid" aria-labelledby="operations">

      {{ range sort .Site.Data.operations "Date" "desc" }}
        <li>
          <article class="card">
            <img data-src="https://source.unsplash.com/1200x800?military" alt="">
            <div class="card__body border">
              <small>7:30pm CST/US</small>
              <h3>{{ dateFormat "Monday" .Date }}</h3>
              <p>{{ .Description }}</p>
              <span class="card__tag">{{ .Type }} Operation</span>
            </div>
          </article>
        </li>
      {{ end }}

    </ul>

  </div>
</section>
