<section class="home-operations relative section-padding border-top">

  <div class="container relative higher-z-index">
    <div class="home-operations__content">

      <h2 class="center" id="operations">Current Mission</h2>

    </div>

    <ul class="unstyled-list home-operations__grid">
      <li>
        <article class="operation grid home-operations__grid-item gsap-fade-in">
          <div class="order-two black home-operations__operation-info">
            <h3 class="h4">Operation Whiskey</h3>
            <p><time datetime="2022-03-23">Wednesday</time> at <time datetime="20:30">20:30</time></p>
            <p>Members will proceed through the operational area. First one to finish will win $20 USD or a Blackwater patch.</p>
          </div>
          <figure class="order-one relative">
            <img class="one-hundred order-one home-operations__mission-image" src="/images/ukraine-hero.jpg" alt="1st Red Squadron members holding a Ukrainian flag in front of a tank." loading="lazy">
            <div class="edge edge--left"></div>
          </figure>
        </article>
      </li>
    </ul>

  </div>

  <div class="absolute image one-hundred">
    <img class="one-hundred" src="/images/bw-sniper.jpg" alt="A sniper resting a rifle on a tripod." loading="lazy">
  </div>

  <div class="absolute grid-lines one-hundred"></div>

</section>
