{{ define "main" }}

<section class="relative hero-spacing four-oh-four">

  <div class="container center relative z-index-one">
    <div class="grid">
      <h1 class="order-two" id="404">404</h1>
      <small class="order-one">Page Not Found</small>
    </div>
    <img src="/images/bw-winter.jpg" alt="">
  </div>

  <div class="absolute image one-hundred">
    <img class="one-hundred" src="/images/bw-hero.jpg" alt="">
  </div>

  <div class="absolute grid-lines one-hundred"></div>

</section>

{{ end }}
