.team {
  h2 {
    margin-bottom: 1.25rem;
  }

  &__list-item {
    &:first-of-type {
      margin-top: var(--header-spacing);
    }

    &:not(:last-of-type) {
      margin-bottom: 3.75rem;
    }
  }

  &__member-headline {
    border-width: 0 1px 1px 1px;
    border-color: rgba(150, 150, 150, .5);
    border-style: solid;
  }
}
