.team-single {
  &__headline {
    margin-bottom: 40px;
  }

  &__grid {
    gap: 1px;
  }

  &__grid-item {
    &--accolades {
      grid-column: 1 / -1;
    }
  }

  &__subheadline {
    margin-bottom: 20px;
  }
}
