.home-hero {
  padding: 285px 0 200px;
  overflow: hidden;

  p {
    max-width: 60ch;
  }

  &__button {
    display: inline-block;
    margin-top: 40px;
  }

  @include screen-below($desktopSm) {
    padding: var(--hero-spacing) 0 150px;
  }

  @include screen-below($laptopSm) {
    padding: var(--hero-spacing) 0 100px;
  }
}
