.home-operations {
  &__content {
    max-width: 80ch;
    margin: auto;
  }

  &__grid {
    grid-gap: 20px;
    margin-top: 40px;
  }

  &__operation {
    text-transform: uppercase;

    time {
      margin-bottom: 20px;
      font-size: 1.375rem;
      font-weight: bold;
    }

    time,
    img {
      display: block;
    }

    span {
      padding: 4px 8px;
      background-color: var(--red);
      border-radius: 4px;
    }
  }

  &__operation-body {
    padding: 40px;
    background-color: var(--black);
  }
}
