.home-operations {
  &__content {
    max-width: 100ch;
    margin: auto;

    @include screen-below($desktopSm) {
      max-width: 80ch;
    }

    @include screen-below($laptopSm) {
      max-width: 60ch;
    }

    @include screen-below($tablet) {
      max-width: unset;
    }
  }

  &__grid {
    margin-top: 40px;
  }
}
