.visually-hide {
  position: absolute;
  top: 0;
  left: -9999px;
  clip: rec(0, 0, 0, 0);
  pointer-events: none;
}

.justify-start {
  justify-self: start;
}

.justify-end {
  justify-self: end;
}

.center {
  text-align: center;
}

.hero-spacing {
  // 150 to 200
  --hero-top-padding: clamp(9.00rem, calc(8.48rem + 4.46vw), 12.50rem);
  --hero-bottom-padding: clamp(6.25rem, -43.75rem + 62.50vw, 12.50rem);
  padding: var(--hero-top-padding) 0 var(--hero-bottom-padding);
}

.unstyled-list {
  margin: 0;

  li {
    list-style: none;
  }
}

.header-spacing {
  margin-top: var(--header-spacing);
}

.section-padding {
  padding: var(--section-padding) 0;
}

.border-top {
  border-top: var(--border);
}

.border-bottom {
  border-bottom: var(--border);
}

.border {
  border: var(--border);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.one-hundred {
  @include size(100%);
  object-fit: cover;
}

.grid-lines {
  bottom: 0;
  left: 0;
  background: -webkit-repeating-linear-gradient(top, transparent 0, transparent 1px, rgba(0, 0, 0, .4) 1px, rgba(0, 0, 0, .4) 3px);
  background: repeating-linear-gradient(top, transparent 0, transparent 1px, rgba(0, 0, 0, .2) 1px, rgba(0, 0, 0, .4) 3px);
  background-size: 100% 4px;
  pointer-events: none;
  opacity: .85;

  &::before {
    @include size(100%);
    position: absolute;
    inset: 0;
    background-image: radial-gradient(circle farthest-corner at center bottom, rgba(19, 26, 30, .95) 0%, rgba(19, 26, 30, .95) 100%);
    content: "";
  }
}

.image {
  top: 0;
  left: 0;

  img {
    filter: grayscale(100%);
    object-fit: cover;
  }
}

.cover {
  object-fit: cover;
}

.two-col-gap {
  gap: var(--two-col-gap);
}

.collapse-tablet {
  @include screen-below($tablet) {
    grid-template-columns: 1fr;
  }
}

.nav-item {
  padding: 1.25rem;
  letter-spacing: .2rem;
  transition: color 300ms ease-in-out, outline 150ms ease-in-out;

  @include hover {
    color: var(--red);
    outline: 2px dotted var(--red);
  }
}

.flex {
  @include screen-above($tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.card {
  height: 100%;
  background-color: var(--black);

  p:last-of-type {
    margin-bottom: 0;
  }

  &__link {
    @include size(100%);
    top: 0;
    left: 0;
  }

  &__body {
    padding: 2.5rem;

    @include screen-below($mobile) {
      padding: 1.5rem;
    }
  }

  &__time {
    display: block;
    margin-top: .625rem;
  }
}

.tag {
  display: inline-block;
  max-width: max-content;
  padding: .25rem .5rem;
  background-color: var(--red);
  border-radius: .25rem;
}

.black {
  background-color: var(--black);
}

.item-padding {
  padding: 1.25rem;
}


.custom-list,
.single__grid {
  ul {
    padding: 0;
    margin: 1.5rem 0 0;
  }

  li {
    list-style: none;

    &:not(:last-of-type) {
      margin-bottom: .25rem;
    }

    &::before {
      @include size(10px);
      content: "";
      display: inline-block;
      margin-right: 1.375rem;
      background-image: url('/images/bullet.svg');
      background-size: contain;
      background-repeat: no-repeat;

      @include screen-below($desktop) {
        margin-right: .75rem;
      }
    }
  }
}

.four-oh-four {
  h1 {
    display: block;
    margin-bottom: 2.5rem;
  }
}

.higher-z-index {
  z-index: 2;
}

.edge {
  --offset: -8px;
  @include size(100%);
  position: absolute;
  z-index: -1;
  bottom: calc(var(--offset) / 2);
  background-color: var(--red);

  &--left {
    left: var(--offset);
  }

  &--right {
    right: var(--offset);
  }
}

.order-one {
  order: 1;
}

.order-two {
  order: 2;
}

.order-three {
  order: 3;
}

.z-index-one {
  z-index: 1;
}

.inset-zero {
  inset: 0;
}

.bg-gray {
  background-color: rgba(150, 150, 150, .5);
}
