.visually-hide {
  position: absolute;
  top: 0;
  left: -9999px;
  clip: rec(0, 0, 0, 0);
  pointer-events: none;
}

.justify-start {
  justify-self: start;
}

.justify-end {
  justify-self: end;
}

.center {
  text-align: center;
}

.hero-spacing {
  padding: var(--hero-spacing) 0 var(--padding);
}

.unstyled-list {
  margin: 0;

  li {
    list-style: none;
  }
}

.header-spacing {
  margin-top: var(--header-spacing);
}

.section-padding {
  padding: var(--padding) 0;
}

.border-top {
  border-top: var(--border);
}

.border-bottom {
  border-bottom: var(--border);
}

.border {
  border: var(--border);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.one-hundred {
  @include size(100%);
  object-fit: cover;
}

.grid-lines {
  bottom: 0;
  left: 0;
  background: -webkit-repeating-linear-gradient(top, transparent 0, transparent 1px, rgba(0, 0, 0, .4) 1px, rgba(0, 0, 0, .4) 3px);
  background: repeating-linear-gradient(top, transparent 0, transparent 1px, rgba(0, 0, 0, .2) 1px, rgba(0, 0, 0, .4) 3px);
  background-size: 100% 4px;
  pointer-events: none;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at center bottom, rgba(19, 26, 30, .95) 0%, rgba(19, 26, 30, .95) 100%);
    content: "";
  }
}

.image {
  top: 0;
  left: 0;

  img {
    filter: grayscale(100%);
    object-fit: cover;
  }
}

.cover {
  object-fit: cover;
}

.grayscale {
  filter: grayscale(100%);
}

.two-col-gap {
  grid-gap: var(--two-col-gap);
}

.collapse-tablet {
  @include screen-below($tablet) {
    grid-template-columns: 1fr;
  }
}

.nav-item {
  padding: 20px;
  letter-spacing: .2rem;
  text-transform: uppercase;
  transition: color 300ms ease-in-out, outline 150ms ease-in-out;

  @include hover {
    color: var(--red);
    outline: 2px dotted var(--red);
  }
}

.flex {
  @include screen-above($tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.card {
  height: 100%;
  background-color: var(--black);

  a,
  time,
  img {
    display: block;
  }

  a {
    height: 100%;
  }

  &__body {
    padding: 40px;
  }

  &__time,
  &__tag {
    text-transform: uppercase;
  }

  &__time {
    display: block;
    margin-top: 10px;
  }
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  margin-top: 20px;
  background-color: var(--red);
  border-radius: 4px;
}

.black {
  background-color: var(--black);
}

.item-padding {
  padding: 20px;
}


.custom-list,
.single__grid {
  ul {
    padding: 0;
    margin: 24px 0 0;
  }

  li {
    list-style: none;

    &:not(:last-of-type) {
      margin-bottom: 4px;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 22px;
      background-image: url('/images/bullet.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.four-oh-four {
  h1 {
    display: block;
    margin-bottom: 40px;
  }
}
