:root {
  --container: 1440px;
  --container-gutter: calc((100vw - var(--container)) / 2);
  --content: 100ch;
  --black: #181818;
  --white: #f5f5f5;
  --red: #ff0000;
  --border: solid 1px rgba(150, 150, 150, .5);
  --nav-spacing: clamp(1.25rem, -3.04rem + 8.93vw, 5.00rem);
  --header-spacing: 3.125rem;
  --two-col-gap: 40px;
  --section-padding: clamp(3.13rem, -4.02rem + 14.88vw, 9.38rem);

  @include screen-below($desktop) {
    --container: 1280px;
    --content: 80ch;
  }

  @include screen-below($desktopSm) {
    --container: 1080px;
  }

  @include screen-below($laptopSm) {
    --container: 900px;
    --header-spacing: 1.563rem;
  }

  @include screen-below($tablet) {
    --container: 768px;
    --content: 100%;
  }

  @include screen-below($portrait) {
    --container: 640px;
  }

  @include screen-below($mobile) {
    --container: 480px;
  }

  @include screen-below($mobile-sm) {
    --container: 345px;
  }

  @include screen-below($mobile-x-sm) {
    --container: 300px;
  }
}

*,
*::after,
*::before {
  @include box-sizing(border-box);
}

::selection {
  color: var(--white);
  background-color: var(--red);
}

* {
  &:focus {
    outline: 2px dotted var(--red);
  }
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--white);
  background-color: var(--black);
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

small {
  display: block;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 300ms ease-in-out, border 300ms ease-in-out;

  &.current {
    text-decoration: underline;
  }
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}
