h1,
h2,
h3,
h4,
.h3,
.h4 {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

h1,
h2 {
  color: var(--red);
}

h1 {
  @include font-size($h1-font-sizes);
  letter-spacing: .1rem;
}

h2 {
  @include font-size($h2-font-sizes);
  line-height: 1.5;
}

h3,
.h3 {
  @include font-size($h3-font-sizes);
}

h4,
.h4 {
  @include font-size($h4-font-sizes);
}

p {
  max-width: 80ch;
  line-height: 1.8;
}
