h1,
h2,
h3,
h4,
.h3,
.h4 {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
.h3,
.h4 {
  color: var(--white);
}

h1 {
  --h1-sizes: clamp(2.50rem, -1.50rem + 8.33vw, 6.00rem);
  font-size: var(--h1-sizes);
}

h2 {
  --h2-sizes: clamp(2.00rem, -0.86rem + 5.95vw, 4.50rem);
  font-size: var(--h2-sizes);
}

h3,
.h3 {
  --h3-sizes: clamp(1.50rem, -1.36rem + 5.95vw, 4.00rem);
  font-size: var(--h3-sizes);
}

h4,
.h4 {
  --h4-sizes: clamp(1.13rem, 0.13rem + 2.08vw, 2.00rem);
  font-size: var(--h4-sizes);
}

p {
  max-width: 80ch;
  line-height: 1.8;
}
