<article class="card border relative">
  <div class="card__body">

    <div class="grid grid--gap">

      <div class="order-two">

        <h2 class="h4">{{ .Title }}</h2>

        {{ if isset .Params "description" }}

          <p>{{ .Params.Description }}</p>

        {{ end }}

      </div>

      {{ if (.GetTerms "tags") }}

        <ul class="unstyled-list order-one card__tags">

          {{ range (.GetTerms "tags") }}

            <li class="tag">{{ .LinkTitle }}</li>

          {{ end }}

        </ul>

      {{ end }}

    </div>

  </div>

  <a class="card__link absolute" href="{{ .Permalink }}" aria-label="View {{ .Title }}"></a>

</article>
