{{ define "main" }}
  <article class="relative hero-spacing news">

    <div class="container relative higher-z-index">

      <div class="center" id="page-header">
        <h1 id="news">{{ .Title }}</h1>
      </div>

      <ol class="unstyled-list grid grid--two-column grid--collapse-tablet two-col-gap news__list">

        {{ range sort .Pages }}

          <li>

            {{ .Render "article" }}
          </li>

        {{ end }}

      </ol>

    </div>

    <div class="absolute image one-hundred">
      <img class="one-hundred" src="/images/bw-pilot-2.jpg" alt="">
    </div>

    <div class="absolute grid-lines one-hundred"></div>

  </article>
{{ end }}
