.home-operations {
  &__content {
    max-width: 100ch;
    margin: auto;

    @include screen-below($desktopSm) {
      max-width: 80ch;
    }

    @include screen-below($laptopSm) {
      max-width: 60ch;
    }

    @include screen-below($tablet) {
      max-width: unset;
    }
  }

  &__grid {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
  }

  &__grid-item {
    @include screen-above($mobile) {
      grid-template-columns: .5fr 1fr;
    }

    @include screen-below($mobile) {
      .edge {
        display: none;
      }
    }
  }

  &__operation-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-width: 1px 1px 1px 0;
    border-color: rgba(150, 150, 150, .5);
    border-style: solid;

    time {
      color: var(--red);
    }

    p:last-of-type { margin-bottom: 0; }
  }
}
