.main-footer {
  padding: 3.125rem 0;
  background-color: var(--black);

  &__grid {
    gap: 40px;
    align-items: center;

    @include screen-below($tablet) {
      justify-items: center;
    }
  }

  &__nav {
    @include screen-above($tablet) {
      justify-self: end;
    }
  }

  &__nav-list {
    @include screen-above($tablet) {
      margin-right: -1.25rem;
    }

    @include screen-below($tablet) {
      display: grid;
      gap: 20px;
      text-align: center;
    }
  }

  &__nav-item {
    @include screen-above($tablet) {
      &:not(:last-of-type) {
        margin-right: var(--nav-spacing);
      }
    }
  }

  &__paw {
    @include size(50px, 51px);
  }
}
