.form {
  grid-gap: 20px;
  justify-self: end;

  input,
  textarea,
  select {
    width: 100%;
    padding: 1.25rem 1.563rem;
    color: var(--white);
    background-color: var(--black);
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    border: 1px solid var(--border);
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;

    &::placeholder {
      color: var(--white);
      opacity: 1;
    }
  }

  input,
  textarea,
  select,
  button {
    font-size: 1rem;
  }

  select {
    padding: 1.25rem;
  }

  label {
    display: block;
  }

  &__email,
  &__select,
  &__hours,
  &__message {
    @include screen-above($tablet) {
      grid-column: span 2;
    }
  }

  &__submit {
    justify-self: start;
  }

  &__select {
    position: relative;

    i {
      position: absolute;
      top: 26px;
      right: 25px;
      padding: .188rem;
      border: solid var(--red);
      border-width: 0 .188rem .188rem 0;
      pointer-events: none;
      transform: rotate(45deg);
    }
  }

  @include screen-below($tablet) {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
