.grid {
  display: grid;

  &--two-column {
    grid-template-columns: repeat(2, 1fr);
  }

  &--three-column {
    grid-template-columns: repeat(3, 1fr);
  }

  &--single {
    grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 80ch) minmax(1.2rem, 1fr);
    grid-gap: 20px;
  }

  &--footer {
    grid-template-columns: 50px 1fr;
  }

  &--team {
    grid-gap: 20px;
  }

  &--collapse-tablet {
    @include screen-below($tablet) {
      grid-template-columns: 1fr;
    }
  }
}
