.main-header {
  @include size(100%, auto);
  position: fixed;
  z-index: 9;
  padding: 15px 0;
  background-color: transparent;
  overflow-y: visible;
  transition: padding 300ms ease-in-out, transform 300ms ease-in-out, color 300ms ease-in-out, background-color 300ms ease-in-out, border 300ms ease-in-out;
  will-change: transform;

  a {
    &[aria-current="page"] {
      color: var(--red);
    }
  }

  &.unpinned {
    transform: translateY(-100px);
  }

  &.pinned {
    padding: 12px 0;
    background-color: var(--black);
    border-bottom: var(--border);
    transform: translateY(0);
  }

  &__grid {
    grid-template-columns: 50px 1fr;
    justify-content: space-between;
    align-items: center;

    @include screen-below($tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__logo {
    display: inline-block;

    img {
      @include size(auto, 50px);
    }
  }

  &__nav {
    justify-self: end;

    @include screen-below($tablet) {
      display: none;
    }
  }

  &__nav-list {
    margin-right: -20px;

    @include screen-below($tablet) {
      display: none;
    }
  }

  &__mobile-nav-button {
    justify-self: end;
    order: 2;

    @include screen-above($tablet) {
      display: none;
    }
  }

  &__mobile-nav {
    grid-column: 1 / -1;
    order: 3;
    height: 0;
    overflow: hidden;
    text-align: center;

    li {
      &:not(:last-of-type) {
        border-bottom: var(--border);
      }
    }

    a {
      display: block;
      padding: 20px;
    }

    &--open {
      height: auto;
    }

    @include screen-above($tablet) {
      display: none;
    }
  }

  &__skip-link {
    position: fixed;
    top: -10em;
    left: 50%;
    padding: 20px;
    background-color: var(--black);
    border: var(--border);
    transform: translateX(-50%);
    transition: top 300ms ease-in-out;

    &:focus {
      top: 0;
    }
  }

  &--nav-open {
    background-color: var(--black);
    border-bottom: var(--border);
    transform: translateY(0);
    z-index: 10;
  }
}
