.main-header {
  @include size(100%, auto);
  position: fixed;
  z-index: 9;
  padding: 15px 0;
  background-color: transparent;
  overflow-y: visible;
  transition: padding 300ms ease-in-out, transform 300ms ease-in-out, color 300ms ease-in-out, background-color 300ms ease-in-out, border 300ms ease-in-out;
  will-change: transform;

  a {
    letter-spacing: .2rem;
    text-transform: uppercase;

    &[aria-current="page"] {
      text-decoration: underline;
    }
  }

  &.unpinned {
    transform: translateY(-100px);
  }

  &.pinned {
    padding: 12px 0;
    background-color: var(--black);
    border-bottom: var(--border);
    transform: translateY(0);
  }

  &__grid {
    grid-template-columns: 1fr 83px 1fr;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-block;

    img {
      @include size(auto, 50px);
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;

    &--left {
      li {
        margin-right: var(--nav-spacing);
      }
    }

    &--right {
      li {
        margin-left: var(--nav-spacing);
      }
    }
  }

  &__skip-link {
    position: fixed;
    top: -2.5em;
    left: 50%;
    transform: translateX(-50%);
    transition: top 300ms ease-in-out;

    &:focus {
      top: 0;
    }
  }
}
