.main-header {
  @include size(100%, auto);
  --logo-color: var(--red);
  position: fixed;
  z-index: 9;
  padding: var(--header-padding, .938rem) 0;
  background-color: var(--header-background, transparent);
  overflow-y: visible;
  transition: padding 300ms ease-in-out, transform 300ms ease-in-out, color 300ms ease-in-out, background-color 300ms ease-in-out, border 300ms ease-in-out;
  will-change: transform;

  &.unpinned {
    transform: translateY(-100px);
  }

  &.pinned {
    --header-padding: .75rem;
    --header-background: var(--black);
    border-bottom: 1px solid var(--border);
    transform: translateY(0);
  }

  &__grid {
    grid-template-columns: 50px 1fr;
    justify-content: space-between;
    align-items: center;

    @include screen-below($tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__logo {
    --item-border-opacity: 0;
    justify-self: start;
    color: var(--logo-color);
    transition: color 300ms ease-in-out;

    &--main {
      @include size(50px);
    }

    &--discord {
      @include size(35px);
    }

    @include hover {
      color: var(--white);
    }

    svg {
      @include size(100%);
    }
  }

  &__nav {
    justify-self: end;

    @include screen-below($tablet) {
      display: none;
    }
  }

  &__nav-list {
    align-items: center;

    @include screen-below($tablet) {
      display: none;
    }
  }

  &__nav-item {
    &:not(:last-of-type) {
      margin-right: 40px;
    }
  }

  &__mobile-nav-button {
    justify-self: end;
    order: 2;

    @include screen-above($tablet) {
      display: none;
    }
  }

  &__mobile-nav {
    grid-column: 1 / -1;
    order: 3;
    height: 0;
    padding-top: 1.25rem;
    overflow: hidden;

    &--open {
      height: auto;
    }

    @include screen-above($tablet) {
      display: none;
    }
  }

  &--nav-open {
    background-color: var(--black);
    border-bottom: var(--border);
    transform: translateY(0);
    z-index: 10;
  }
}
