.single {
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  blockquote {
    margin: 0;

    @include screen-above($tablet) {
      grid-column: 2;
    }
  }

  ul,
  ol {
    line-height: 2;
  }

  img {
    grid-column: 1 / -1;
    justify-self: center;
    margin: 2.5rem 0;

    & + img {
      margin: 0 0 2.5rem;

      @include screen-below($tablet) {
        margin: 0 0 1.25rem;
      }
    }

    @include screen-below($tablet) {
      margin: 1.25rem 0;
    }
  }

  &__grid {
    margin-top: var(--header-spacing);
  }
}
