{{ define "main" }}

<article class="hero-spacing team-single">

  <div class="container">

    <div class="center team-single__headline">
      <h1>{{ .Title }}</h1>
    </div>

    <ul class="border grid team-single__grid team-single__grid--outer unstyled-list bg-gray">

      {{ $mugshot := "" }}

      {{ if isset .Params "mugshot" }}
        {{ $mugshot = .Params.mugshot }}
      {{ else }}
        {{ $mugshot = "/images/team/default-mugshot.png" }}
      {{ end }}

      <li class="team-single__grid-item item-padding bg-black">
        <div class="team-single__mugshot">
          <div class="content">
            <img src="{{ $mugshot }}" alt="">
          </div>
        </div>
      </li>

      <li class="team-single__grid-item team-single__grid grid--two-column grid bg-gray">

        {{ if isset .Params "badges" }}

          <div class="item-padding bg-black">

            <h2 class="h4 team-single__subheadline">Operations</h2>

            <ul class="custom-list">

              {{ range (sort .Params.badges "value" "asc") }}

                <li>

                  {{ . }}

                </li>

              {{ end }}

            </ul>

          </div>

        {{ end }}

        {{ if isset .Params "citations" }}

          <div class="bg-black item-padding">

            <h2 class="h4 team-single__subheadline">Citations</h2>

            <ul class="custom-list">

              {{ range (sort .Params.citations "value" "asc") }}

                <li>

                  {{ . }}

                </li>

              {{ end }}

            </ul>

          </div>

        {{ end }}

      </li>

      <li class="team-single__grid-item team-single__grid-item--info team-single__grid grid--three-column grid bg-gray">

        {{ if isset .Params "sign" }}

          <div class="item-padding bg-black">
            <h2 class="h4 team-single__subheadline">Call Sign</h2>
            <span>{{ .Params.sign }}</span>
          </div>

        {{ end }}

        {{ if isset .Params "position" }}

          <div class="item-padding bg-black">
            <h2 class="h4 team-single__subheadline">Rank</h2>
            <span>{{ .Params.position }}</span>
          </div>

        {{ end }}

        {{ if isset .Params "level" }}

          <div class="item-padding bg-black">
            <h2 class="h4 team-single__subheadline">Level</h2>
            <span>{{ .Params.level }}</span>
          </div>

        {{ end }}

      </li>

    </ul>

  </div>

</article>

{{ end }}
