{{ define "main" }}

<article class="hero-spacing team-single">

  <div class="container">

    <div class="center team-single__headline">
      <h1>{{ .Title }}</h1>
    </div>

    <ul class="border grid grid--three-column team-single__grid unstyled-list bg-gray">

      {{ $mugshot := "" }}

      {{ if isset .Params "mugshot" }}

        {{ $mugshot = .Params.mugshot }}

      {{ else }}

        {{ $mugshot = "/images/team/default-mugshot.png" }}

      {{ end }}

      <li class="team-single__grid-item item-padding black">
        <div class="team-single__mugshot">
          <div class="content">
            <img src="{{ $mugshot }}" alt="">
          </div>
        </div>
      </li>

      {{ if isset .Params "badges" }}

        <li class="team-single__grid-item item-padding black">

          <h2 class="h4 team-single__subheadline">Operations</h2>

          <ul class="custom-list">

            {{ range (sort .Params.badges "value" "asc") }}

              <li>

                {{ . }}

              </li>

            {{ end }}

          </ul>

        </li>

      {{ end }}

      {{ if isset .Params "citations" }}

        <li class="team-single__grid-item black item-padding">

          <h2 class="h4 team-single__subheadline">Citations</h2>

          <ul class="custom-list">

            {{ range (sort .Params.citations "value" "asc") }}

              <li>

                {{ . }}

              </li>

            {{ end }}

          </ul>

        </li>

      {{ end }}

      {{ if isset .Params "sign" }}

        <li class="team-single__grid-item item-padding black">
          <h2 class="h4 team-single__subheadline">Call Sign</h2>
          <span>{{ .Params.sign }}</span>
        </li>

      {{ end }}

      {{ if isset .Params "position" }}

        <li class="team-single__grid-item item-padding black">
          <h2 class="h4 team-single__subheadline">Rank</h2>
          <span>{{ .Params.position }}</span>
        </li>

      {{ end }}

      {{ if isset .Params "level" }}

        <li class="team-single__grid-item item-padding black">
          <h2 class="h4 team-single__subheadline">Level</h2>
          <span>{{ .Params.level }}</span>
        </li>

      {{ end }}

    </ul>

  </div>

</article>

{{ if or .PrevInSection .NextInSection }}

  <div class="pagination">
    <div class="grid grid--two-column">

      {{ with .PrevInSection }}
        <a class="button pagination-item pagination-item--prev" href="{{ .Permalink }}">
          View {{ .Title }}
        </a>
      {{ end }}

      {{ with .NextInSection }}
        <a class="button pagination-item pagination-item--next" href="{{ .Permalink }}">
          View {{ .Title }}
        </a>
      {{ end }}

    </div>
  </div>

{{ end }}

{{ end }}
