<footer class="main-footer border-top">
  <div class="container grid grid--footer grid--collapse-tablet main-footer__grid">
    <div class="main-footer__paw">
      <img src="/images/paw.svg" alt="">
    </div>
    <nav class="main-footer__nav">

      <ul class="unstyled-list main-footer__nav-list flex">

        {{ range .Site.Menus.social }}
          <li class="main-footer__nav-item">
            <a
              class="nav-item"
              href="{{ .URL }}"
            >
              {{ .Name }}
            </a>
          </li>
        {{ end }}

      </ul>

    </nav>
  </div>
</footer>
