<header class="main-header">
  <div class="container">

    <a class="main-header__skip-link nav-item" href="#content">Skip to Main Content</a>

    <div class="grid main-header__grid">

      <a class="main-header__logo" href="{{ .Site.BaseURL }}">
        <img class="main-header__logo-image main-header__logo-image--main" src="/images/paw.svg" alt="Blackwater USA">
      </a>

      {{ if .Site.Menus.main }}
        <nav class="main-header__nav justify-start" aria-label="primary">
          <ul class="main-header__nav-list main-header__nav-list--left unstyled-list flex">

            {{ $currentPage := . }}

            {{ range .Site.Menus.main }}

              <li class="main-header__nav-item">
                <a class="nav-item" href="{{ .URL }}" {{ if $currentPage.IsMenuCurrent "main" . }}aria-current="page"{{ end }}>
                  {{ .Name }}
                </a>
              </li>

            {{ end }}

            <li class="main-header__nav-item">
              <a class="nav-item main-header__logo main-header__logo--discord" href="https://discord.com/invite/vKbQqrrmqF" aria-label="Join the First Red Squadron Discord" target="_blank">
                <img class="main-header__logo-image main-header__logo-image--discord" src="/images/discord-logo.svg" alt="Discord">
              </a>
            </li>

          </ul>
        </nav>
      {{ end }}

      <button class="button border main-header__mobile-nav-button" aria-expanded="false" aria-controls="menu">Menu</button>

      <nav class="main-header__mobile-nav" aria-label="mobile" id="menu">
        <ul class="grid unstyled-list">

          {{ $currentPage := . }}

          {{ range .Site.Menus.mobile }}

            <li>
              <a
                class="nav-item"
                href="{{ .URL }}"
                {{ if $currentPage.IsMenuCurrent "mobile" . }}
                  aria-current="page"
                {{ end }}
              >
                {{ .Name }}
              </a>
            </li>

          {{ end }}

          <li>
            <a
              class="nav-item"
              href="https://discord.com/invite/vKbQqrrmqF"
              target="_blank"
            >
              Discord
            </a>
          </li>

        </ul>
      </nav>

    </div>

  </div>
</header>
