<aside class="home-join section-padding border-top overflow-hidden" id="join">
  <div class="container relative grid grid--two-column grid--collapse-tablet two-col-gap">
    <div class="gsap-fade-in">
      <h2>Join Up</h2>
      <p>This unit is not a typical military mil-sim. Their is no basic training or required monthly training, but applicants are required to have at least 500 hours minimum in order to join. Upon joining the discord wait for a recruiter to contact you. A Q&A session will be conducted by a recruiter in the #Recruiting voice channel with all new applicants.</p>
      <h3 class="h4" id="positions">Open Positions</h3>
      <p>Unit positions are loosely disgnated but we prefer you to choose a specialty. If you desire to have a position that is not listed, please mention it to your recruiter.</p>
      <ul class="grid unstyled-list custom-list" aria-labelledby="positions">
        <li>Aviation</li>
        <li>Medical</li>
        <li>Reconnassiance</li>
        <li>Security</li>
      </ul>
    </div>
    <form
      class="grid grid--two-column form gsap-fade-in"
      name="contact"
      id="join-form"
      action="/success/"
      netlify
      netlify-honeypot="bot-field"
    >

      <label class="form__email" for="email">
        <span class="visually-hide">
          Email
        </span>
        <input type="email" id="email" name="email" placeholder="Email" />
      </label>

      <label for="name">
        <span class="visually-hide">
          Name
        </span>
        <input type="text" id="name" name="name" placeholder="Name" required />
      </label>

      <label for="age">
        <span class="visually-hide">
          Age
        </span>
        <input type="number" id="age" name="age" placeholder="Age" required />
      </label>

      <label class="form__hours" for="hours">
        <span class="visually-hide">
          Arma 3 Hours
        </span>
        <input type="number" id="hours" name="hours" placeholder="Total Number of Arma 3 Hours" required />
      </label>

      <label class="visually-hide" for="bot-field">
        Are you a pesky robot?
        <input type="text" id="bot-field" name="bot-field" />
      </label>

      <div class="form__select">
        <label for="tag-select" class="visually-hide">Choose a Position</label>
        <i></i>
        <select id="tag-select" name="tag-select" required>
          <option value="">Select Desired Position</option>

          <option value="Aviation">Aviation</option>
          <option value="Medical">Medical</option>
          <option value="Reconnassiance">Reconnassiance</option>
          <option value="Security">Security</option>

        </select>
      </div>

      <label class="form__message" for="article">
        <span class="visually-hide">
          Tell us about yourself
        </span>
        <textarea name="message" id="article" cols="30" rows="10" placeholder="Tell us about yourself." required></textarea>
      </label>

      <button
        class="form__submit button"
        type="submit"
      >
        <div class="button__background"></div>
        <div class="corner-border-wrap">
          <div class="corner-border corner-border--top-left"></div>
          <div class="corner-border corner-border--top-right"></div>
          <div class="corner-border corner-border--bottom-left"></div>
          <div class="corner-border corner-border--bottom-right"></div>
        </div>
        <div class="button__copy">
          Submit Application
        </div>
      </button>
    </form>
  </div>

</aside>
