{{ define "main" }}
  <section class="relative team hero-spacing">

    <div class="absolute image one-hundred">
      <img class="one-hundred" data-src="/images/bw-little-birds.jpg" alt="">
    </div>

    <div class="absolute grid-lines one-hundred"></div>

    <div class="container relative">

      <div class="center">
        <header>
          <h1 id="page-header">
            {{ .Title }}
          </h1>
        </header>
      </div>

      <ul class="unstyled-list">

        <li class="team__list-item">
          <h2 class="h3" id="command">Command</h2>

          <ul class="unstyled-list grid grid--list grid--gap grid--collapse-tablet" aria-labelledby="command">

            {{ range .Pages }}
              {{ if eq .Params.level "Command" }}
                <li class="item-padding black border">
                  <small>{{ .Params.position }}</small>
                  <span class="h4">{{ .Title }}</span>
                </li>
              {{ end }}
            {{ end }}

          </ul>
        </li>

      </ul>

      <ul class="unstyled-list">

        <li class="team__list-item">
          <h2 class="h3" id="command">Contractors</h2>

          <ul class="unstyled-list grid grid--list grid--gap grid--collapse-tablet" aria-labelledby="command">

            {{ range .Pages }}
              {{ if not (eq .Params.level "Command") }}
                <li class="item-padding black border">
                  <small>{{ .Params.position }}</small>
                  <span class="h4">{{ .Title }}</span>
                </li>
              {{ end }}
            {{ end }}

          </ul>
        </li>

      </ul>

    </div>

  </section>
{{ end }}
