{{ define "main" }}
  <section class="relative team hero-spacing">

    <div class="absolute image one-hundred">
      <img class="one-hundred" data-src="/images/bw-little-birds.jpg" alt="">
    </div>

    <div class="absolute grid-lines one-hundred"></div>

    <div class="container relative">

      <div class="center">
        <header>
          <h1 id="page-header">
            {{ .Title }}
          </h1>
        </header>
      </div>

      <ul class="unstyled-list" aria-labelledby="page-header">

        <li class="team__list-item">
          <h2 class="h3" id="command">Command</h2>

          <ul class="unstyled-list grid grid--list grid--gap grid--collapse-tablet" aria-labelledby="command">

            {{ range .Site.Data.command }}
              <li class="item-padding black border">
                <small>{{ .title }}</small>
                <span class="h4">{{ .name }}</span>

                {{ if .sign }}
                  <ul class="unstyled-list team__detail-list">
                    <li class="tag">{{ .sign }}</li>
                  </ul>
                {{ end }}

              </li>
            {{ end }}

          </ul>
        </li>

        <li class="team__list-item">
          <h2 class="h3" id="contractors">Contractors</h2>

          <ul class="unstyled-list grid grid--list grid--gap grid--collapse-tablet" aria-labelledby="contractors">

            {{ range .Site.Data.contractors }}
              <li class="item-padding black border">
                <small>{{ .title }}</small>
                <span class="h4">{{ .name }}</span>

                {{ if .sign }}
                  <ul class="unstyled-list team__detail-list">
                    <li class="tag">{{ .sign }}</li>
                  </ul>
                {{ end }}

              </li>
            {{ end }}

          </ul>
        </li>

        <li class="team__list-item">
          <h2 class="h3" id="legacy">Legacy</h2>

          <ul class="unstyled-list grid grid--list grid--gap grid--collapse-tablet" aria-labelledby="legacy">

            {{ range .Site.Data.legacy }}
              <li class="item-padding black border">
                <span class="h4">{{ .name }}</span>

                {{ if .sign }}
                  <ul class="unstyled-list team__detail-list">
                    <li class="tag">{{ .sign }}</li>
                  </ul>
                {{ end }}

              </li>
            {{ end }}

          </ul>
        </li>

      </ul>

    </div>

  </section>
{{ end }}
